.about {
	@include container;
	@include flex(space-around, flex-start);
	margin: 80px auto;

	.left {
		flex-basis: 50%;

		h2 {
			text-transform: uppercase;
			letter-spacing: 22px;
			font-size: 80px;
			font-family: $baseFontFamilyBold;
			text-shadow: 4px 4px 10px $shadowColor;
			color: $primaryColor;
		}
	}

	.right {
		flex-basis: 50%;
		margin-top: 90px;
		font-size: 22px;
		line-height: 36px;

		p:first-of-type {
			margin-bottom: 20px;
		}
	}
}
