.cards {
	background: #fff;
}

.cards__wrapper {
	@include container;
	@include flex(space-evenly, center);
	gap: 20px;
	padding: 80px 0;

	.card__item {
		@include flex(center, center);
		flex-direction: column;
		border-radius: 20px;
		overflow: hidden;
		height: 290px;
		width: 300px;
		text-align: center;
		box-shadow: inset 2px 2px 5px rgb(139, 139, 139);

		img {
			aspect-ratio: 5 / 3;
			object-fit: contain;
		}

		a {
			display: block;
			transform: translateY(100px);
			transition: transform 0.3s ease-in;

			&:visited {
				color: $primaryTextColor;
			}
		}

		&:hover {
			transform: scale(1.05);
			box-shadow: 2px 2px 5px #000;
			a {
				transform: translateY(10px);
			}
		}
	}
}
