.cards {
	background: #fff;
}

.cards__wrapper {
	@include container;
	@include flex(space-evenly, center);
	padding: 80px 0;

	.card__item {
		border-radius: 20px;
		overflow: hidden;
		height: 290px;
		width: 300px;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		border: 1px solid rgb(219, 219, 219);
		img {
			aspect-ratio: 5 / 3;
			object-fit: contain;
			border-radius: 20px;
		}

		a {
			display: block;
			transform: translateY(100px);
			transition: transform 0.3s ease-in;

			&:visited {
				color: $primaryTextColor;
			}
		}

		&:hover {
			transform: scale(1.2);
			box-shadow: 5px 5px 5px #000;
			a {
				transform: translateY(0px);
			}
		}
	}
}
