.main__navigation {
  @include container;
  @include flex(space-between, center);
  
  ul {
    @include flex(space-between, center);
    gap: 20px;
    width: 100%;

    li {
      padding: 20px 0;

      a {
        text-transform: uppercase;
        color: $primaryColor;
        font-weight: 900;
        font-size: 1.6rem;

        &:hover {
          color: $primaryTextColor;
        }
      }
    }
    li:first-of-type {
      margin-right: auto;
    }
  }
}

.main__navigation-logo {
  font-family: $logoFontFamily;
  font-size: 2rem;
}
