@keyframes navLinksColorGradinet {
  0% {
    background: linear-gradient($primaryColor 100%, $primaryTextColor 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  25% {
    background: linear-gradient($primaryColor 75%, $primaryTextColor 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50%{
    background: linear-gradient($primaryColor 50%, $primaryTextColor 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  75%{
    background: linear-gradient($primaryColor 25%, $primaryTextColor 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: linear-gradient($primaryColor 0%, $primaryTextColor 0%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}