.header__wrapper {
  @include container;
  @include flex(space-between, center, row);
}
.header {
  @include flex(center, center, column);
  background-color: $secondaryColor;
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;

  .introduction {
    margin-bottom: 200px;
    h1 {
      color: $primaryTextColor;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: calc(5.5rem + 1.1vw);
    }
    p {
      color: $primaryColor;
      font-size:  calc(0.7rem + 1.1vw);
      text-transform: uppercase;
      width: 52ch;
      font-weight: 700;
      line-height: 1.2;
      padding-bottom: 60px;
    }
    button {
      background-color: $primaryTextColor;
      padding: 14px 22px;
      border-radius: 40px;
      transition: padding 0.3s;
      border: none;
      a {
        color: #fff;
        font-size: calc(1rem + 0.4vw);
      }
      &:hover {
        padding-right: 52px;
      }
    }
  } 
  .a {
    color: yellow;
  }

  .slider {
  background-color: red;
  }

  .svg-header-white {
    position: absolute;
    bottom: -50px;
    z-index: 5;
  }
  .svg-header-blue {
    position: absolute;

    bottom: 0;
    z-index: 4;
  }
}
.active-link {
  color: red;
}
