.header__wrapper {
	@include container;
	@include flex(space-between, center);
	margin-top: -250px
}
.header {
	@include flex(center, center, column);
	height: 1250px;
	width: 100%;
	background-repeat: no-repeat;
	margin-top: -80px;

	

	.slider {
		background: #fff;
		width: 500px;
		height: 500px;
		@include flex(center, center);
		border-radius: 36% 64% 75% 25% / 33% 55% 45% 67%;
		overflow: hidden;
		img {
			border-radius: 50%;
		}
	}

	.svg-header {
		position: absolute;
		bottom: -5px;
	}
}
.active-link {
	color: red;
}
