.header__wrapper {
	@include flex(space-between, center);
	margin-top: 50px;
min-height: 80vh;
}
.header {
	@include flex(center, center, column);

	width: 100%;

	.slider {
		background: #fff;
		width: 100%;
		@include flex(center, center);
		overflow: hidden;
		img {
			width: 100%;
			height: auto
		}
	}

	.svg-header {
		position: absolute;
		bottom: -5px;
	}
}
.active-link {
	color: red;
}
