@mixin flex($justify, $align, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
@mixin container {
  width: $media-l;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: $media-l) {
    width: 80%;
  }
}


@mixin mobile {
  @media screen and (max-width: 768px) {
    @content
  }
}