@mixin flex($justify, $align, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
@mixin container {
  width: $media-l;
  margin-left: auto;
  margin-right: auto;

  @include desktop {
    width: 80%;
  }
}

// responsive mixins
@mixin desktop {
  @media screen and (max-width: $media-l) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $media-s) {
    @content;
  }
}