// colors
$primaryColor: #3064a7;
$secondaryColor: #d6deec;
$primaryTextColor:  #ED2939;

// breakpoints
$media-l: 1024px;
$media-s: 768px;

// fonts
$baseFontFamily: 'Abel', sans-serif;;
$logoFontFamily: 'Architects Daughter', cursive;
