// colors
$primaryColor: #3064a7;
$secondaryColor: #d6deec;
$primaryTextColor: #ed2939;
$shadowColor: #00000040;

// breakpoints
$media-xxl: 1920px;
$media-xl: 1440px;
$media-l: 1024px;
$media-s: 768px;

// fonts
$baseFontFamilyLight: "Lato-Light", sans-serif;
$baseFontFamilyRegular: "Lato-Regular", sans-serif;
$baseFontFamilyBold: "Lato-Bold", sans-serif;
$baseFontFamilyBolder: "Lato-Black", sans-serif;
$logoFontFamily: "Architects Daughter", cursive;
